.site-nav{
    background-color: PaleVioletRed;
    list-style: none;
    padding: 0;
    width: 200px;
    border: 1px solid MediumVioletRed;
  }
  .site-nav .site-nav-item{
    border-bottom: 1px solid MediumVioletRed;
    padding: 5px;
  }
  .site-nav .site-nav-item:last-child{
    border-bottom: none;
  }
  .site-nav .site-nav-item a{
    color:white;
    text-decoration: none;
  }
  nav ul li a:hover{
    text-decoration: underline;
  }
  a.btns{ 
    display: inline-block;
    background-color: #46a720;
    color: #fff;
    padding: 7px 30px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
}
.next p  {
    margin-left: 80px;
    font-weight: bold;
    color: #ccc;
    font-size: 18px;
    display: inline-block;
    padding: 20px 260px;
    text-decoration: none;
   
}