a.btns{ 
    display: inline-block;
    background-color: #46a720;
    color: #fff;
    padding: 7px 30px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
}
.next p  {
    margin-left: 80px;
    font-weight: bold;
    color: #ccc;
    font-size: 18px;
    display: inline-block;
    padding: 20px 260px;
    text-decoration: none;
   
}